@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    min-height: 100vh;
    background-color: darkgrey;
}
header{
background-color: black;
color: white;
text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}
header a, footer a{
    color: white;
    text-decoration: none;
}
header a:hover, footer a:hover{
    color: yellow;
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;

}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: grey;
    color: black;
}
section.imagem >p{
    background-color: rgba(0, 0, 0, 0.24);
    width: 400px;
}
footer{
    color: white;
    background-color: black;
    padding: 10px;
    text-align: center;
}